:root {
    --primary-color: #fff;
    --secondary-color: #0d375a;
    --tertiary-color: #41b1b1; 
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */
header {
    padding: 0px 0px;
    background-color: var(--secondary-color);
    border-bottom: 5px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }

  header img {
    border-radius: 50%;
    width: auto;
    max-width:20%;
    height: aut0;
    max-height: 20%; 
    position: fixed;
  } 

  header h1 {
    font-weight: bold;
    margin: 0px;
    font-size: 36px;
    color: var(--primary-color);
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    background-color: var(--tertiary-color);
    padding: 20px 10px 20px 200px;
    text-align: end;
    border: 0px;
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 30px 30px 30px 30px;
  }
  
  header nav {
    margin: 7px 0px;
    padding: 20px 10px 20px 200px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 0px 0px 0px;
  }
  
  header nav ul li a {
    padding: 20px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  body {
    /* height: 4000px; */
    background-color: var(--primary-color);
  }

  body div {
    Background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-wrap:  wrap;
    background: space-around;
    min-height: 400px;
    text-align: center;
    vertical-align: center;
    }

  .about-me {
    width: 50%;
    vertical-align: middle;
    padding: 120px 40px 40px 40px;
    border: 5px solid var(--tertiary-color);
  }

  .bio {
    width: 50%;
    float: right;
  }

    

