:root {
    --primary-color: #fff;
    --secondary-color: #0d375a;
    --tertiary-color: #97bbd8; 
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */
header {
    padding: 0px 0px;
    background-color: var(--secondary-color);
    border-bottom: 5px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }

  header img {
    border-radius: 50%;
    width: auto;
    max-width: 15%;
    min-width: 10%;
    height: auto;
    max-height: 15%;
    min-height: 10%; 
    position: fixed;
  } 

  header h1 {
    font-weight: bold;
    margin: 0px;
    font-size: 2.5vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--tertiary-color);
    padding: 40px 40px 40px 160px;
    text-align: end;
    border: 0px;
  }

  header a {
    color: var(--primary-color);
    padding: 30px 30px 30px 30px;
  }
  
  header nav {
    margin: 7px 0px;
    padding: 40px 10px 40px 140px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 0px 0px 0px;
  }
  
  header nav ul li a {
    padding: 20px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

  /* HERO / JUMBOTRON STYLE START */
  .hero {
    background-image: url("../images/—Pngtree—business\ background\ banner\ business\ website_306028.jpg");
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 200px;
  }

  .hero h2 {
    color: var(--primary-color);
    padding: 0px 0px 80px 120px;
  }

  /* HERO / JUMBOTRON STYLE END */

  /* ABOUT ME SECTION START */
    .about-me {
    Background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2.5px solid var(--tertiary-color);
    border-top: 5px solid var(--tertiary-color);
    height:  400px;
  }

  .about-me-title {
    width: 30%;
    font-size: x-large;
    border-right: 5px solid var(--tertiary-color);
    padding:  180px 40px 180px 40px;
    text-align: end;
  }

  .bio {
    width: 70%;
    float: right;
    color: var(--secondary-color);
    padding: 100px 40px 100px 40px;
  }
  /* ABOUT ME SECTION END */
  
  /* MY WORK SECTION START */
  .my-work {
    Background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    border-bottom: 2.5px solid var(--tertiary-color);
    border-top: 2.5px solid var(--tertiary-color);
    height:  800px;
  }

    .my-work-title {
      width: 30%;
      font-size: x-large;
      border-right: 5px solid var(--tertiary-color);
      padding:  360px 40px 360px 40px;
      text-align: end;
    }

    .my-work-links {
      width: 70%;
      display: flex;
      flex-wrap: flex;
      flex-direction: column;
    }

      .my-work-links a {
        color: var(--primary-color);
        font-size: xx-large;
        text-decoration: none;
        padding: 120px 0px 0px 40px;
        text-align: center;
      }

        .run-buddy {
          background-image: url("../images/hero-bg.jpg");
          background-size: cover;
          color: var(--secondary-color);
          height: 400px;
          width: 100%;
          order: 0;
        }

        .my-work-links-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: flex-end;
        order: 2;
      }

          .horiseon {
          background-image: url("../images/search-engine-optimization.jpg");
          background-size: cover;
          width: 100%;
          height: 396px;
          float: right;
          flex-direction: row;
          }

          .robot-gladiators {
            background-image: url("../images/iStock-1091882772-scaled.jpg");
            background-size: cover;
            width: 100%;
            height: 396px;
            float: left;
            flex-direction: row;
          }


  /* MY WORK SECTION END */

  /* FOOTER STYLE START */
  footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
  }
  
    footer h1 {
      display: block;
    }

      .contact-info {
        color: var(--secondary-color);
        font-size: 1.25vw;
        display: flex;
        flex: wrap;
        justify-content: space-evenly;
      }

      .contact-info ul {
        list-style: none;
      }

      .contact-info li {
        float: left;
      }

      .contact-info li a {
        display: block;
        text-align: center;
        padding: 10px 30px 10px 30px;
      }
      
  /* FOOTER STYLE END */
